name: Automatisation des tests
on: push

jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up CMake
        uses: actions/setup-cmake@v2
      - name: Compile the project
        run: |
          mkdir build
          cd build
          cmake ..
          make
          make test  # Run tests

  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up CMake
        uses: actions/setup-cmake@v2
      - name: Run the add test
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator add 2 3 > add_result.txt  # Save the result in a text file
      - name: Upload artefact (Add test result)
        uses: actions/upload-artifact@v2
        with:
          name: artefact_Test_Add
          path: build/add_result.txt  # Upload the result file
          
  Artefact_Test_Car:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up CMake
        uses: actions/setup-cmake@v2
      - name: Run the car test (square)
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator car 5 > car_result.txt  # Run the square function and save the result
      - name: Upload artefact (Car test result)
        uses: actions/upload-artifact@v2
        with:
          name: artefact_Test_Car
          path: build/car_result.txt  # Upload the result of the car test
